button{
    background-color:green;
    color:white;
}
.elementsFormulaire{
    display: block;
	width: 150px;
    outline:none;
    margin-left:none;
    font-family:"Roboto";
}
label{
    display: block;
	width: 150px;
	float: right;
}
input{
    align-items:center;
    border-top:hidden;
    border-right:hidden;
    border-left:hidden;
}
input:focus{
    border:none;
    outline:none;
}
div{
    margin:20px;
    padding:20px;
}
p{
    font-weight:bold;
    margin-left: 50px;
}
form{
    margin-left:50px;
}